body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
  }
  
  .wrapper {
    padding: 50px;
    min-height: 100%;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .grid {
    margin-bottom: 200px;
    padding-bottom: 200px;
    border-bottom: 10px solid #363636;
    min-height: 100vh;
  }
  
  .item {
    border: 5px dashed #444;
    font-size: 40px;
    padding: .8em;
    text-align: center;
  }
  

.grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr minmax(100px, 200px) 1fr 1fr;
    grid-template-rows: auto auto;
}